@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.illustration {
  height: 100%;
  width: 100%;
  @include flex;
  padding: var(--spacing-48);
  @include tablet-landscape-up {
    padding: var(--spacing-64);
  }
  &__image {
    height: auto;
    width: 100%;
    max-width: 60%;
    &--sink {
      @extend .illustration__image;
      @include tablet-landscape-up {
        max-width: 600px;
      }
    }
    &--toilet {
      @extend .illustration__image;
      @include tablet-landscape-up {
        max-width: 400px;
      }
    }
    &--porta-potty {
      @extend .illustration__image;
      @include tablet-landscape-up {
        max-width: 400px;
      }
    }
    &--tape-measure {
      @extend .illustration__image;
      @include tablet-landscape-up {
        max-width: 400px;
      }
    }
  }
}
