@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--primary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section {
  $self: &;
  position: relative;
  width: 100%;
  &--fullscreen {
    @include tablet-landscape-up {
      height: 100vh;
    }
    .section__wrapper,
    .section__row,
    .section__col {
      height: 100%;
      padding: 0;
    }
  }
  &__wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  &__row {
    width: 100%;
    display: block;
    @include tablet-landscape-up {
      min-height: 70vh;
      @include flex($align: stretch);
      gap: 0;
    }
  }
  &__col {
    padding: 0;
    flex: 1;
    &:nth-of-type(2) {
      @include tablet-landscape-up {
        background-color: var(--white);
      }
    }
  }
  &__content {
    width: 100%;
    max-width: 600px;
    padding: var(--spacing-24);
    @include tablet-landscape-up {
      padding: var(--spacing-64);
    }
    &--800 {
      @extend .section__content;
      max-width: 800px;
    }
    &--500 {
      @extend .section__content;
      max-width: 500px;
    }
  }
}

.header,
.footer {
  &__wrapper {
    @extend .section__wrapper;
  }
  &__row {
    @extend .section__row;
  }
  &__col {
    @extend .section__col;
  }
}

// ********************* CONTENT SETTINGS ********************** //
.content {
  &--left {
    @include tablet-landscape-up {
      .section__col:nth-of-type(1) {
        order: 2;
      }
      .section__col:nth-of-type(2) {
        order: 1;
      }
    }
  }
  &--right {
    @include tablet-landscape-up {
      .section__col:nth-of-type(1) {
        order: 1;
      }
      .section__col:nth-of-type(2) {
        order: 2;
      }
    }
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
  &--justify-start {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: flex-start);
    }
  }
}

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}

// ********************* BACKGROUND MODIFIERS ********************** //
.background-color {
  &--isabelline {
    background: var(--isabelline);
  }
  &--pale-silver {
    background: var(--pale-silver);
  }
  &--linen {
    background: var(--linen);
  }
  &--champagne-pink {
    background: var(--champagne-pink);
  }
  &--desert-sand {
    background: var(--desert-sand);
  }
  &--grey1 {
    background: var(--grey1);
  }
  &--grey2 {
    background: var(--grey2);
  }
  &--grey3 {
    background: var(--grey3);
  }
}
