@use './variables.scss' as *;
@use './mixins.scss' as *;

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
  &__contain {
    @extend .image;
    object-fit: contain;
  }
  &__cover {
    @extend .image;
    object-fit: cover;
  }
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  @include tablet-landscape-up {
    display: block;
    @include absolute;
  }
  &--left {
    @extend .background-image;
    @include tablet-landscape-up {
      width: 50%;
    }
  }
  &--right {
    @extend .background-image;
    @include tablet-landscape-up {
      width: 50%;
      left: auto;
      right: 0;
    }
  }
}
